html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    margin: 0;
    padding: 0;
    
}
#sidebar {
    display: grid;
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: #f97316;
    grid-template-rows: 100px 1.2fr 1fr 1fr;
    padding-left: 25px;
    padding-right: 25px;
    gap: 25px;  
}




#sidebar .title {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    align-self: end;
    gap: 10px;    
}

.title > img {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

.title > h1 {
    font-family: "Arial";
    color: #FFF7ed;
}

#header {
    padding-left: 50px;
    padding-bottom: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
    display:grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    /* padding-right: 50px; */
    box-shadow: 10px 4px 4px 3px black; 
    
}

#content {
    padding-left: 25px;
    box-shadow: inset -2px 1px 3px 6px rgba(0,0,0,.2);
    display: grid;
    grid-column: 2 / 3 ;
    grid-row: 2 / 3;
    padding-top: 15px;
    
}

#nav {
    padding-bottom: 30px;
}

.nav-item {
    display: grid;
    grid-template-columns: 35px 1fr;
    align-items: center;
    gap: 10px;
    padding-left: 25px;
 

}
.nav-item > img {
    width: 25px;
    height: 25px;
    -webkit-filter: invert(100%);
}

.nav-item > h2 {
    font-family: "Arial";
    color: #fff7ed;
}

.search {
    display: grid;
    grid-template-columns: 15px 1fr;
    align-items: center;
    gap: 30px;
}

input {
    background-color: #fff7ed;
    border: 2px solid #7c2d12;
    height: 25px;
    border-radius: 10px;
}

.search > img {
    width: 25px;
    height: 25px;
}

.user-dock > .wrapper {
    min-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-items: right;
    gap: 15px;
}

.user-dock {
    display: grid;
    align-items: center;
    justify-items: center;
}

.wrapper > h2 {
    color: #7c2d12;
}

.wrapper > h1 {
    color: #7c2d12;
    margin:0;
}

.user-dock > .wrapper > img {
    width: 45px;
    height: 45px;
}

.user-menu {
    display: grid;
    align-items: center;
    justify-items: center;
}

.user-menu > ul {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    justify-items: center;
}

.greeting > img {
    width: 75px;
    height: 75px;

}

.wrapper > p {
    margin: 0;
    color: #c2410c;
}

.greeting {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #f97316;
    color: #FFF7ed;
    font-weight: 700;
    font-size: 16pt;
    font-family: 'Arial';
    width: 125px;
    height: 50px;
    border-radius: 25px;
}

#content {
    background-color: #FFF7ed;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 1fr 50px 1fr;
    gap: 15px;
    padding-right: 50px;
    padding-bottom: 50px;
}

h1, h2, h3{
    font-family: 'Arial';
}

.project-subheader, annoucement-subheader {
    
}

#project-list {
    display:grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-template-rows: repeat(auto-fit, 250px);
    gap: 30px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    padding-right: 25px;

}

#annoucement-list {
    display: grid;
    grid-template-rows: 120px 6px 120px 6px 120px;
    background-color: #fed7aa;
    border-radius: 10px;
    grid-column: 2 / 3;
    grid-row: 2/3;
    max-width: 300px;
    padding-left: 25px;
    padding-right: 25px;
}

#trending-list {
    display: grid;
    background-color: #fed7aa;
    border-radius: 10px;
    grid-column: 2 / 3 ;
    grid-row: 4 / 5;
    padding: 10px;
    max-width: 300px;

}



.snippet {
    display: grid;
}

.condensed-card > img {
    width: 50px;
    height: 50px;
}
.wrapper > p {
    margin: 0;
    font-family: 'Arial'
}
p.user {
    font-weight: 500;
    font-size: 13pt;
    color: #7c2d12;
}
p.project {
    color: #f97316;
    font-size: 12pt;
}

.condensed-card {
    display:grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    align-items: center;
    padding-left: 20px;
}

.condensed-card > img {
    border-radius: 50%;
}

.card {
    background-color: #fed7aa;
    border-left: 10px solid #c2410c;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    padding: 15px;
    align-items: center;
    
 
}

.card > p {
    color: ##7c2d12;
    margin-top: .2em;
    align-self: start;
}

.actions > img {
    width: 30px;
    height: 30px;

}

h3.title {
    margin: 0;
    align-self: end;
}



.actions {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    justify-items: end;
    gap: 25px;
    justify-self: right;
    padding-right: 10px;
    align-self: start;
}

.snippet-title {
    margin:0;
    font-family: 'Arial';
    font-size: 13pt;
    align-self: end;
    color: #7c2d12;
    font-weight: 800;
}



.snippet > p {
    margin: 0;
    font-family: 'Arial';
    font-size: 10pt;
    color: #9a3412;
}

hr {

    width: 80%;
    height: 2px;
    border: 1px solid #7c2d12;
    align-self: center;
}

